{% extends 'base1.html.twig' %}

{% block title %}LieuEven index{% endblock %}

{% block body %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lieux des Evénements</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

            <tr>

                <th>TitreLieu</th>
                <th>AddresseEven</th>
                <th>Visualiser</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tfoot>
            <tr>

                <th>TitreLieu</th>
                <th>AddresseEven</th>
                <th>Visualiser</th>
                <th>Modifier</th>
            </tr>
        </tfoot>
        <tbody>
        {% for lieu_even in lieu_evens %}
            <tr>

                <td>{{ lieu_even.titreLieu }}</td>
                <td>{{ lieu_even.addresseEven }}</td>
                <td>
                    <a href="{{ path('lieu_even_show', {'id': lieu_even.id}) }}" class="btn btn-primary btn-md" style="margin-left: 10px;">
                        <i class="fas fa-eye" style="width: 40px;"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('lieu_even_edit', {'id': lieu_even.id}) }}" class="btn btn-success btn-md" style="margin-left: 10px;">
                        <i class="fas fa-edit" style="width: 40px;"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
