{% extends 'base1.html.twig' %}

{% block title %}New LieuEven{% endblock %}

{% block body %}
    <h1>Create new LieuEven</h1>

    {{ include('lieu_even/_form.html.twig') }}

    <a href="{{ path('lieu_even_index') }}">back to list</a>
{% endblock %}
