{% extends 'base1.html.twig' %}

{% block title %}New EvenApprouve{% endblock %}

{% block body %}
    <h1>Créer un nouvel événement</h1>
<br><br><br>
    {{ include('even_approuve/_form.html.twig') }}
<br><br>
{% endblock %}
