{% extends 'base1Front.html.twig' %}

{% block title %}New EvenNonApprouve{% endblock %}

{% block body %}
    <br><br><br><br>
    <h1>Informer à propos un événement</h1>
    <br><br><br><br>
    {{ include('even_non_approuve/_form.html.twig') }}


{% endblock %}
