<h1>Salut,</h1>

<p>
    Vous recevez cet e-mail car votre adresse e-mail a été utilisée pour enregistrer pour s'enregistrer à notre site web.

    Veuillez suivre ce lien pour confirmer que c'était bien vous  :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.

    Vous pouvezez utiliser ce compte aprés la confirmation.

    Si vous avez des questions, veuillez nous envoyer un e-mail - nous sommes toujours heureux de vous aider.
    Ce lien va expiré dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.

    Sincères amitiés,
    L'équipe B.I.O.S.

</p>

<p>
    Cheers!
</p>
