{% extends 'base1.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    <h1>Créer un nouvel artiste</h1>
    <br><br><br><br>

    {{ include('artiste/_form.html.twig') }}
    <br><br>

{% endblock %}
