{% extends 'baseBACK.html.twig' %}

{% block title %}Edit Maison{% endblock %}

{% block body %}
    <div class="right" style="margin-top: 10px; margin-left: 60px">
        <a href="{{ path('maison_index_back') }}"> <button class="btn btn-light" type="submit" style="width: auto"><i class="fa fa-arrow-left" aria-hidden="true"></i>RETOUR</button></a>
    </div>
    <h1>Edit Maison</h1>

    {{ include('maison/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('maison/_delete_form.html.twig') }}
{% endblock %}
