<h1>L'ajout d'une nouvelle maison a été effectué avec succés</h1>
<h3>Bonjour Monsieur {{maison.nom}}</h3>
<br>
<h4>Vous avez bien ajouté une maison à la liste des locations,
    un Email vous sera convoqué lors d'une réservation effectuée par l'un de nos client</h4>
<br>
<h4>Cordialement</h4>
