{% extends 'base1.html.twig' %}

{% block title %}New CategorieEven{% endblock %}

{% block body %}
    <h1>Create new CategorieEven</h1>

    {{ include('categorie_even/_form.html.twig') }}

    <a href="{{ path('categorie_even_index') }}">back to list</a>
{% endblock %}
