<h1>reclamation reçu</h1>
<p>une nouvelle reclamation vient d'etre ajoute par {{ name }}:</p>
<p class="bg-primary text-light">
    {{ message }}
    <a href="http://localhost:8000/reclamation">consulter les reclamations</a>
</p>